# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [17]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
import time

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [8]:
cities = pd.read_csv("output_data\weather_data.csv")
cities.head()

,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,Ushuaia,75,AR,1638730640,71,-54.8000,-68.3000,46.06,33.38
1,Sokoni,100,TZ,1638730345,75,-6.4333,39.5500,80.46,9.01
2,Linqu,70,CN,1638730643,58,36.5156,118.5397,40.50,5.50
3,Upernavik,100,GL,1638730644,73,72.7868,-56.1549,27.75,1.41
4,Saint George,6,US,1638730645,26,37.1041,-113.5841,68.34,3.02

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [9]:
#Configure gmaps
gmaps.configure(api_key=g_key)

In [10]:
#Use the Lat and Lng as locations and Humidity as the weight.
locations = cities[["Lat", "Lng"]]
humidity = cities["Humidity"].astype(float)
maxhumidity = humidity.max()

In [11]:
#Add Heatmap layer to map.
fig = gmaps.figure()
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, max_intensity=maxhumidity, dissipating=False, point_radius = 4)
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [12]:
narrow_city = cities.loc[(cities["Max Temp"] > 65) & (cities["Cloudiness"] == 0), :].dropna()
narrow_city.head()

,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
20,Bhan,0,PK,1638730664,29,26.5583,67.7214,68.95,1.90
32,Yulara,0,AU,1638730242,64,-25.2406,130.9889,67.84,8.05
42,Arraial do Cabo,0,BR,1638729952,74,-22.9661,-42.0278,84.16,23.02
57,Pimentel,0,PE,1638730705,64,-6.8367,-79.9342,73.69,14.97
87,Porbandar,0,IN,1638730738,52,21.6422,69.6093,74.64,11.52

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [14]:
#Store into variable named hotel_df.
hotel_df = narrow_city.loc[:,["City","Country","Lat","Lng"]]

#Add a "Hotel Name" column to the DataFrame.
hotel_df["Hotel Name"] = ""

hotel_df.head()

               City Country      Lat       Lng Hotel Name
20             Bhan      PK  26.5583   67.7214
32           Yulara      AU -25.2406  130.9889
42  Arraial do Cabo      BR -22.9661  -42.0278
57         Pimentel      PE  -6.8367  -79.9342
87        Porbandar      IN  21.6422   69.6093

In [15]:
#Set parameters to search for hotels with 5000 meters
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

params = {"type" : "hotel",
          "keyword" : "hotel",
          "radius" : 5000,
          "key" : g_key}

In [18]:
for index, row in hotel_df.iterrows():
    lat = row["Lat"]
    lng = row["Lng"]
    city_name = row["City"]
    
    params["location"] = f"{lat},{lng}"

    print(f"Retrieving Results for Index {index}: {city_name}.")
    response = requests.get(base_url, params=params).json()
    
    results = response['results']
    
    try:
        print(f"Closest hotel in {city_name} is {results[0]['name']}.")
        hotel_df.loc[index, "Hotel Name"] = results[0]['name']

    except (KeyError, IndexError):
        print("None")
        
    print("On to the next!")
    
    time.sleep(1)

print("-------End of Search-------")

Retrieving Results for Index 20: Bhan.
None
On to the next!
Retrieving Results for Index 32: Yulara.
Closest hotel in Yulara is Sails in the Desert.
On to the next!
Retrieving Results for Index 42: Arraial do Cabo.
Closest hotel in Arraial do Cabo is Ocean View Hotel.
On to the next!
Retrieving Results for Index 57: Pimentel.
Closest hotel in Pimentel is Hotel Puerto del Sol.
On to the next!
Retrieving Results for Index 87: Porbandar.
Closest hotel in Porbandar is Hotel Balaji Palace Porbandar.
On to the next!
Retrieving Results for Index 97: Quelimane.
Closest hotel in Quelimane is Hotel Flamingo.
On to the next!
Retrieving Results for Index 120: Keti Bandar.
None
On to the next!
Retrieving Results for Index 183: Carnarvon.
Closest hotel in Carnarvon is Carnarvon Motel.
On to the next!
Retrieving Results for Index 211: Inhambane.
Closest hotel in Inhambane is Hotel Casa Do Capitão.
On to the next!
Retrieving Results for Index 222: Acapulco de Juárez.
Closest hotel in Acapulco de Juárez is Hotel Emporio Acapulco.
On to the next!
Retrieving Results for Index 250: Doka.
None
On to the next!
Retrieving Results for Index 265: Marsh Harbour.
Closest hotel in Marsh Harbour is Island Breezes Hotel.
On to the next!
Retrieving Results for Index 268: Ouargaye.
None
On to the next!
Retrieving Results for Index 307: Vīsāvadar.
None
On to the next!
Retrieving Results for Index 325: Puerto Palomas.
Closest hotel in Puerto Palomas is Hotel San Carlos.
On to the next!
Retrieving Results for Index 368: Lebu.
Closest hotel in Lebu is Hotel Plaza Lebu.
On to the next!
Retrieving Results for Index 413: Benjamín Hill.
Closest hotel in Benjamín Hill is Hotel Benjamín Hill.
On to the next!
Retrieving Results for Index 425: Salalah.
Closest hotel in Salalah is Salalah Gardens Hotel.
On to the next!
Retrieving Results for Index 428: Sharjah city.
Closest hotel in Sharjah city is Novotel Sharjah Expo Centre.
On to the next!
Retrieving Results for Index 440: San Quintín.
Closest hotel in San Quintín is Old Mill Hotel.
On to the next!
Retrieving Results for Index 499: Necochea.
Closest hotel in Necochea is Hotel Ñikén Spa & Business Center.
On to the next!
Retrieving Results for Index 531: Caravelas.
Closest hotel in Caravelas is Pousada Liberdade.
On to the next!
Retrieving Results for Index 534: Sur.
Closest hotel in Sur is Sur Plaza Hotel.
On to the next!
Retrieving Results for Index 551: Praia.
Closest hotel in Praia is Hotel VIP Praia.
On to the next!
Retrieving Results for Index 559: General Pico.
Closest hotel in General Pico is Hotel Pico.
On to the next!
-------End of Search-------

In [19]:
hotel_df = hotel_df.dropna(how='any')
hotel_df.head()

               City Country      Lat       Lng                     Hotel Name
20             Bhan      PK  26.5583   67.7214
32           Yulara      AU -25.2406  130.9889            Sails in the Desert
42  Arraial do Cabo      BR -22.9661  -42.0278               Ocean View Hotel
57         Pimentel      PE  -6.8367  -79.9342           Hotel Puerto del Sol
87        Porbandar      IN  21.6422   69.6093  Hotel Balaji Palace Porbandar

In [21]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [22]:
# Add marker layer ontop of heat map
markers = gmaps.marker_layer(locations,info_box_content=hotel_info)

fig.add_layer(markers)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))